<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Facts page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form>
        <h1>Create Facts</h1>
        <label for="submitter">Submitter</label>
        <input name="submitter" id="submitter" placeholder="Please enter your name">
        <label for="facts">Facts</label>
        <textarea name="facts" id="facts" placeholder="Enter facts about your pets"></textarea>
        <input type="submit">
    </form>
</body>
</html>